<script id="c0" type="text/template">
  <div>
    <p class="title text lead">Customer Testimonial</p>
    <p>
    <img class="testimonial-img" src="/img/myles.jpg" />
    </p>
    <p class="title lead text">Myles Recny, 25, United Kingdom</p>
  </div>
  <style>
    .text{
      color:white;
    }
    .title{
      font-size:200%;
    }
    .subtitle{
      font-size:160%;
    }
    .testimonial-img{
      width:50%;
      border-radius:100px;
      -webkit-filter:grayscale(100%) contrast(110%);
      border:1px solid #999999;
    }
    .testimonial-img:hover{
      cursor:pointer;
    }
  </style>
</script>
<script type="text/javascript">
  (function(){
    window.initContent0 = function(){
      var clicked = 0;
      $('.testimonial-img').click(function(){
        if (!clicked){
          clicked=1;
          window.nextStep();
        }
      });
    }
  })();
</script>
