<script id="c1" type="text/template">
  <div>
    <img class="img-1 c-img" src="/img/1.jpg" />
  </div>
  <style>
  </style>
  <style>
    .img-1{
      width:75%;
      border-radius:200px;
      -webkit-filter:contrast(170%) grayscale(100%);
    }
  </style>
</script>
<script type="text/javascript">
  (function(){
    var called = false;
    window.initContent1 = function(){
      if (called) return false;
      called = true;
      console.log('initcontent1 called');

      $('#content').append('<audio id="audio_1"><source src="/audio/1.ogg" type="audio/ogg"> </audio>');
      document.getElementById('audio_1').play();
      document.getElementById('audio_1').addEventListener('ended', function(){
        setTimeout(function(){
          window.nextStep();
        }, 400);
      }, false);

      /*var gs = 100;
      setInterval(function(){
        gs-=1;
        $('.img-1').css({"-webkit-filter":'contrast(170%) grayscale('+gs+'%)'});
      }, 100);*/
    }
  })();
</script>
