<script id="c3" type="text/template">
  <div>
    <p>
    <img class="img-3 c-img" src="/img/3.jpg" />
    </p>
  </div>
  <style>
    .text{
      color:white;
    }
    .title{
      font-size:200%;
    }
    .subtitle{
      font-size:160%;
    }
    .img-3{
      margin-top:13%;
      border-radius:300px;
    }
  </style>
</script>
<script type="text/javascript">
  var called = false;
  (function(){
    window.initContent3 = function(){
      if (called) return false;
      var clicked = 0;
      $('#content').append('<audio id="audio_3"><source src="/audio/3.ogg" type="audio/ogg"> </audio>');
      document.getElementById('audio_3').play();
      document.getElementById('audio_3').addEventListener('ended', function(){
        console.log('audio ended');
        setTimeout(function(){
          window.nextStep();
        }, 400);
      }, false);
      
    }
  })();
</script>
