<script id="c4" type="text/template">
  <div>
    <p>
    <img class="img-4 c-img" src="/img/4.jpg" />
    </p>
  </div>
  <style>
    .text{
      color:white;
    }
    .title{
      font-size:200%;
    }
    .subtitle{
      font-size:160%;
    }
    .img-4{
      margin-top:-15%;
      border-radius:300px;
    }
  </style>
</script>
<script type="text/javascript">
  var called = false;
  (function(){
    window.initContent4 = function(){
      if (called) return false;
      var clicked = 0;
      $('#content').append('<audio id="audio_4"><source src="/audio/4.ogg" type="audio/ogg"> </audio>');
      document.getElementById('audio_4').play();
      document.getElementById('audio_4').addEventListener('ended', function(){
        console.log('audio ended');
        setTimeout(function(){
          window.nextStep();
        }, 400);
      }, false);
      
    }
  })();
</script>
