<script id="cn" type="text/template">
  <div>
  </div>
  <style>
  </style>
</script>
<script type="text/javascript">
  (function(){
    window.initContentN = function(){
      $('#content').append('<audio autoplay="autoplay"><source src="/audio/'+window.currentContent+'.ogg" type="audio/ogg"> </audio>');
    }
  })();
</script>
