body{
  background-color:black;
}

.main-image{
  border-radius:300px;
  opacity:0.7;
  -webkit-filter:grayscale(100%) contrast(120%);
}

#status{
  position:absolute;
  top:0px;
  left:0px;
  padding:50px;
  width:50px;
  height:50px;
  font-size:100px;
  background-color:white;
}

#company-logo{
  opacity:0.5;
  position:absolute; 
  left:10px;
  bottom:-20px;
  font-size:120%;
  color:white;
  z-index:10000;
}

#vimeo-player{
  position:absolute;
  top:-5%;
  left:-5%;
  z-index:-1000;
  width:120%;
  height:120%;
  -webkit-filter:blur(30px) hue-rotate(0deg);
}

.c-img{
  opacity:0.7;
}

#content{
  z-index:1000;
  background-color: rgba(0,0,0, 0.2);
  position:absolute;
  display:none;
  border-radius:300px;
}
