body{
  background-color:black;
}

#vimeo-player{
  position:absolute;
  top:-5%;
  left:-5%;
  z-index-1000;
  width:120%;
  height:120%;
  -webkit-filter:blur(35px) hue-rotate(40deg);
}

#content{
  z-index:1000;
  background-color: rgba(255,255,255,0.5);
  position:absolute;
  display:none;
  border-radius:300px;
}
